# Credenciales
.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Notebooks
.ipynb_checkpoints/

# Datos crudos y checkpoints (no versionar)
data/raw/
data/processed/
data/checkpoints/

# Misc
*.log
.DS_Store

# Documentación interna
notes/
